@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;
}

header{
    justify-content: space-between;
    display: flex;
    background-color: #FD8C04;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
nav{
    display: flex;
    margin-top: 15px;
    margin-left: 100px;
    ul{
        display: flex;
        li{
            list-style: none;
        }
    }
}
a{
    text-decoration: none;
    margin-right: 12px;
    padding: 0px 5px;
    color: black;
    font-size: large;
    font-family: cursive;
}
a:hover{
    color: #FADEBA;
}

svg {
    align-items: center;
    width: 2em;
    margin-right: 3px;
    color: #FADEBA;
}
svg:hover{
    color: black;
}

html,
body,
#root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
}

main {
    flex-grow: 1;
    padding: 1rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin-top: 1rem;

    article {
        background-color: #FADEBA;
        padding: 1rem;
        border-radius: 3px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        text-align: center;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2);
            transform: scale(1.1);
        }

        img {
            width: 100%;
            height: auto;
        }

        h2 {
            margin-top: 1rem;
            font-size: x-large;
        }

        p {
            margin-top: 1rem;
            font-size: x-large;
            font-weight: bold;
        }

        button {
            margin-top: 1rem;
            background-color: #FD8C04;
            color: black;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;

            a {
                color: #FADEBA;
                text-decoration: none;
            }

            &:hover {
                background-color: black;
                color: #FADEBA;
            }
        }
    }
}

.detalles {
    display: flex;
    justify-content:space-around;
    background-color: #FADEBA;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 800px;
    margin-left: 18%;
    margin-top: 30px;
    
    section {
        display: flex;
        flex-direction: column;
    }
    section > h1{
        font-size: large;
        font-weight: bold;
    }
    section > p > h2 {
        font-size: x-small;
        font-weight: bold;
    }
}

footer {
    background-color:#FD8C04;
    height: 100px;
    text-align: center;
}
